@use "variables" as *;

.contact {
    height: 60vh;
    text-align: center;
    background-color: $secondColor;
    .contactInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    div {
        padding: 20px;
        p{

            font-family: 'Roboto', sans-serif;
        }
    }
    h3{
        box-shadow: 10px 5px 5px $fifthColor; 
        font-family: 'Questrial', sans-serif;    
        font-size:  3rem;
    }
    button{
        width: 200px;
    }
}
}