@use "variables" as *;

.contact {
    text-align: center;
    background-color: $secondColor;
    .contactInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    div {
        padding: 20px;
    }
    h3{
        box-shadow: 10px 5px 5px $fifthColor;     
        font-family: 'Bebas Neue', cursive;
        font-size:  3rem;
    }
    button{
        width: 200px;
    }
}
}