@use "variables" as *;


footer {
      height: 5vh;
      text-align: center;
      background-color:$firstColor;
     p {
      font-family: 'Roboto', sans-serif;
      color: $forthColor;
      margin: 0;
      font-size: 1.3rem;
      font-weight: 300;
      letter-spacing: 8px;
     }
}