@use "variables" as *;

.header {
    height: 100vh;
    background-image: url("../assets/mountain.jpg");
    
    // background-color: fuchsia;
    .greeting{
        margin-top: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-size: cover;
        background-color: transparent;
        h1{
            color: $fifthColor;
            font-family: 'Courier New', Courier, monospace;
            font-size: 3.3rem;
            margin: auto auto 0;
            text-shadow: 3px 2px black;
            text-transform: uppercase;
        }
        .luxem{
            font-family: 'Roboto', sans-serif;
            font-size: 5rem;
            margin: auto auto 0;
            font-weight: 200;
        }

        h2{
            color: $fifthColor;

            font-family: 'Roboto', sans-serif;
            font-size: 2.5rem;
            font-weight: 200;
            margin-top: 0;
            text-shadow: 1px 1px black;

        }

       button{
        font-family: 'Questrial', sans-serif;
            width:200px ;
            position: relative;
            overflow:hidden ;
        .buttonEffect {
            color: white;
            background:$fifthColor;
            height: 100%;
            width: 0;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
            transition: .5s;
            }
        }
        button:hover .buttonEffect{
            width: 100%;
        }
    }
    

}