@use "variables" as *;

main{
    background-color: white;
    height: 50vh;
.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
        h3{
            box-shadow: 10px 5px 5px $fifthColor; 
            font-family: 'Questrial', sans-serif;    
            font-size: 3rem;
    }
    p{
        font-family: 'Roboto', sans-serif;    
        font-weight: 300;
        font-size: 1.8rem;
    }
}
}