html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.wrapper {
  padding: 0 20px;
  max-width: 1400px;
  margin: auto;
  width: 90%;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

html {
  font-size: 125%;
}

button {
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  color: white;
  border: 2px solid #000;
  border-radius: 10px;
  z-index: 10;
  width: 200px;
  position: relative;
  overflow: hidden;
}
button .buttonEffect {
  color: white;
  background: rgb(105, 104, 104);
  height: 100%;
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 1s;
}

button:hover .buttonEffect {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  color: black;
}

.header {
  height: 100vh;
  background-image: url("../assets/mountain.jpg");
}
.header .greeting {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-color: transparent;
}
.header .greeting h1 {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 3.3rem;
  margin: auto auto 0;
  text-shadow: 3px 2px black;
  text-transform: uppercase;
}
.header .greeting .luxem {
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  margin: auto auto 0;
  font-weight: 200;
}
.header .greeting h2 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  margin-top: 0;
  text-shadow: 1px 1px black;
}
.header .greeting button {
  font-family: "Questrial", sans-serif;
  width: 200px;
  position: relative;
  overflow: hidden;
  color: black;
}
.header .greeting button .buttonEffect {
  color: black;
  background: white;
  height: 100%;
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
.header .greeting button:hover .buttonEffect {
  width: 100%;
}

.navBar {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  width: 100%;
  height: 15%;
  background-color: clear;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: transparent;
  color: rgb(105, 104, 104);
  text-shadow: 1px 1px black;
}

.navBarLinks {
  display: flex;
}
.navBarLinks ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.navBarLinks ul li {
  list-style: none;
}
.navBarLinks ul li a {
  display: inline-block;
  position: relative;
  padding: 10px;
  text-decoration: none;
  color: white;
}
.navBarLinks ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background: linear-gradient(white, #AD6A6C, white);
  transform-origin: bottom right;
  transition: transform 0.25s ease-in;
  transform: scaleX(0);
}
.navBarLinks ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.toggleButton {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 31px;
}
.toggleButton .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

main {
  background-color: white;
  height: 50vh;
}
main .aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .aboutMe h3 {
  box-shadow: 10px 5px 5px black;
  font-family: "Questrial", sans-serif;
  font-size: 3rem;
}
main .aboutMe p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
}

.projects {
  font-family: "Roboto", sans-serif;
  height: 165vh;
  height: 48%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.projects div {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 90vh;
  width: 45%;
  margin: 10px;
  border: 2px solid grey;
}
.projects div h4 {
  margin: 0;
}
.projects div img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects div button {
  margin: 10px;
  width: 45%;
  color: #000;
  z-index: 10;
}
.projects div button a {
  text-decoration: none;
}

.skills {
  height: 60vh;
  background-image: url("../assets/blackStone.jpg");
  background-color: rgb(47, 46, 46);
  color: white;
}
.skills h3 {
  font-family: "Questrial", sans-serif;
  font-size: 3rem;
  color: white;
}
.skills .skillSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills .logos ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}
.skills .logos ul li {
  padding: 20px;
}
.skills .logos ul li p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  color: white;
}
.skills .logos ul li:hover {
  color: orangered;
}

.contact {
  height: 60vh;
  background-image: url("../assets/blackStone.jpg");
  text-align: center;
  color: white;
}
.contact .contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.contact .contactInfo div {
  padding: 20px;
}
.contact .contactInfo div p {
  color: white;
  font-family: "Roboto", sans-serif;
}
.contact .contactInfo h3 {
  box-shadow: 10px 5px 5px white;
  font-family: "Questrial", sans-serif;
  font-size: 3rem;
  color: white;
}
.contact .contactInfo button {
  width: 200px;
}

footer {
  height: 5vh;
  text-align: center;
  background-color: #000;
}
footer p {
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 8px;
}

@media (max-width: 1000px) {
  .aboutMe {
    height: 60vh;
  }
  p {
    font-size: 1.5rem;
  }
  .skills {
    height: 70vh;
  }
  .skills li {
    padding: 30px;
  }
}
.projects div {
  height: 80vh;
}
.projects .projectCard p {
  font-size: 1rem;
}

@media (max-width: 645px) {
  main .aboutMe {
    height: 70vh;
  }
  main p {
    font-size: 1.5rem;
  }
  .skills {
    height: 80vh;
  }
  .projects {
    flex-direction: column;
  }
  .projects div {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .toggleButton {
    display: flex;
  }
  .navBar {
    flex-direction: column;
    align-items: flex-start;
    height: 215px;
  }
  .navBar .navBarLinks {
    display: none;
    width: 100%;
  }
  .navBar .navBarLinks ul {
    width: 100%;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.345);
  }
  .navBar .navBarLinks ul li {
    text-align: center;
  }
  .navBar .navBarLinks ul li a {
    padding: 0.5rem 1rem;
  }
  .navBarLinks.active {
    display: flex;
  }
  .header {
    height: 80vh;
  }
  .header .greeting {
    margin-top: -35px;
  }
  .header .greeting h1 {
    font-size: 3rem;
  }
  .header .greeting .luxem {
    font-size: 4rem;
  }
  .header .greeting h2 {
    font-size: 1.7rem;
    margin: 0;
  }
  main .aboutMe {
    justify-content: flex-start;
  }
  main .aboutMe h3 {
    font-size: 2rem;
    margin: 0;
  }
  main .aboutMe p {
    font-size: 1.2rem;
  }
  .skills {
    height: 70vh;
  }
  .skills .logos ul li {
    padding: 10px;
  }
  .projectCard p {
    font-size: 1rem;
  }
  .projectCard .projects div button {
    margin: 1px;
    width: 85%;
  }
  .projectCard .projects div button a {
    font-size: 90%;
  }
}/*# sourceMappingURL=styles.css.map */